.container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.column {
  width: 250px;
  border: 5px solid PowderBlue;
  margin: 10px;
  padding: 5px;
  background-color:Plum;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 250px;
}

.column h2 {
font-style: italic;
}

h2 {
  text-align: center;
  font-style: oblique;
}

h1 {
  text-align: center;
}

body {
  background-color: GhostWhite;
}

@media screen and (min-width: 768px) {
  .column {
    float: left;
    width: 300px;
    border: 5px solid PowderBlue;
    margin: 10px;
    padding: 5px;
    background-color:Plum;
  }
  .container {
    width: 1080px;
    text-align: center;
    margin: 0 auto;
  }
  img {
    width: 300px;
  }
}
